@import 'tailwindcss';

:root {
  /* Ubisoft Palette */
  --background: #000000; /* Background principal */
  --surface: #1a1a1a; /* Surface / Cards */
  --border: #2c2c2c; /* Bordas / Dividers */
  --foreground: #ffffff; /* Texto principal */
  --text-secondary: #a0a0a0; /* Texto secundário */

  /* Accents */
  --primary: #0078f2; /* Azul Ubisoft */
  --secondary: #ffffff; /* Branco */

  /* Charts */
  --chart-blue: #0078f2;
  --chart-purple: #a0a0a0;
  --chart-green: #22c55e;
  --chart-orange: #f97316;
  --chart-pink: #cccccc;
    --green: #28a745;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-border-custom: var(--border);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove focus outlines/rings globally as requested */
*:focus {
  outline: none !important;
  box-shadow: none !important;
}
*:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
a:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

@keyframes ubisoft-spin {
  to {
    transform: rotate(360deg);
  }
}
